<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-toolbar> </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row
    class="ion-justify-content-center ion-align-items-center ion-padding"
  >
    <ion-icon name="sad-outline"></ion-icon>
    <ion-text color="primary"
      ><h2>
        Unfortunately hentai API didn't work because of Indian gov. bans. I will
        be adding some other contents later
      </h2></ion-text
    >
  </ion-row>
</ion-content>
