ion-img {
  height: 40vh;
  background-position: cover;
}

h3 {
  display: inline;
  font-weight: 500;
}

h2 {
  font-weight: 600;
}

h4 {
  font-weight: 500;
  margin-top: 10px;
}

.left-margin {
  margin-left: 10px;
}
